clients/insight-links/n8n-mailchimp-qualified-leads-workflow.json
{
  "name": "Insight Links - Mailchimp Qualified Lead Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"spreadsheetId\": \"1Ed5meyHx1Vt1VTWJ4t2grBj_181rBxY2Jq912UiZJ6Q\",\n  \"audiences\": [\n    {\n      \"name\": \"Cardiac Wire\",\n      \"short\": \"CW\",\n      \"listId\": \"AUDIENCE_ID_CW\"\n    },\n    {\n      \"name\": \"Imaging Wire\",\n      \"short\": \"IW\",\n      \"listId\": \"AUDIENCE_ID_IW\"\n    },\n    {\n      \"name\": \"Digital Health Wire\",\n      \"short\": \"DHW\",\n      \"listId\": \"AUDIENCE_ID_DHW\"\n    }\n  ],\n  \"sinceDate\": \"={{$now.minus(2, 'days').toISO()}}\"\n}",
        "options": {}
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-audiences",
      "name": "Split Into Audiences",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://us18.api.mailchimp.com/3.0/lists/{{ $json.listId }}/members",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "1000"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "fields",
              "value": "members.email_address,members.merge_fields,members.timestamp_opt,members.tags,members.source,members.status,total_items"
            },
            {
              "name": "since_last_changed",
              "value": "={{ $node[\"Set Config\"].json.sinceDate }}"
            },
            {
              "name": "status",
              "value": "subscribed"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "pagination": {
            "paginationMode": "off"
          },
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "mailchimp-api",
      "name": "HTTP Request (Mailchimp API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "mailchimpApiKey"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Carry forward audience metadata from the split batch\nconst configItems = $('Split Into Audiences').all();\nconst currentAudience = configItems[0]?.json || {};\nconst audienceName = currentAudience.name || 'Unknown';\nconst audienceShort = currentAudience.short || 'UNK';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const members = item.json.members || [item.json];\n  \n  for (const member of members) {\n    const mergeFields = member.merge_fields || {};\n    const email = member.email_address || '';\n    const firstName = mergeFields.FNAME || '';\n    const lastName = mergeFields.LNAME || '';\n    const jobTitle = mergeFields.JOBTITLE || mergeFields.JOB_TITLE || mergeFields.MMERGE3 || '';\n    const company = mergeFields.COMPANY || mergeFields.MMERGE4 || '';\n    \n    // Extract UTM from source or tags\n    const source = member.source || '';\n    const tags = (member.tags || []).map(t => t.name).join(', ');\n    \n    // Parse UTM from signup source URL or merge fields\n    const utmSource = mergeFields.UTM_SOURCE || mergeFields.MMERGE5 || '';\n    const utmMedium = mergeFields.UTM_MEDIUM || mergeFields.MMERGE6 || '';\n    const utmCampaign = mergeFields.UTM_CAMPAIGN || mergeFields.MMERGE7 || '';\n    const utmContent = mergeFields.UTM_CONTENT || mergeFields.MMERGE8 || '';\n    const xSignup = mergeFields.X_SIGNUP || mergeFields.MMERGE9 || '';\n    \n    // Determine ad source\n    const adSource = utmSource.toLowerCase() === 'facebookads' ? 'TFM' : \n                     utmSource ? 'Other' : 'Unknown';\n    \n    // Classify newsletter from UTM campaign or audience\n    let newsletterClassified = audienceShort;\n    const utmLower = utmCampaign.toLowerCase();\n    if (utmLower.includes('cardiac') || utmLower.includes('[cardiac')) newsletterClassified = 'CW';\n    else if (utmLower.includes('imaging') || utmLower.includes('[imaging')) newsletterClassified = 'IW';\n    else if (utmLower.includes('digital health') || utmLower.includes('[digital')) newsletterClassified = 'DHW';\n    \n    // Count fields filled (name, lastname, jobtitle, company)\n    const fieldsFilled = [firstName, lastName, jobTitle, company].filter(f => f.trim() !== '').length;\n    const all4Complete = fieldsFilled === 4 ? 'Yes' : 'No';\n    \n    // Qualification logic\n    const nonQualifiedRoles = ['retired', 'disabled', 'patient', 'student', 'unemployed', 'n/a', 'none', 'homemaker'];\n    const jobLower = jobTitle.toLowerCase().trim();\n    const companyLower = company.toLowerCase().trim();\n    \n    let qualified = '';\n    if (fieldsFilled >= 3 && jobTitle.trim() !== '') {\n      const isNonQualified = nonQualifiedRoles.some(role => \n        jobLower.includes(role) || companyLower.includes(role)\n      );\n      qualified = isNonQualified ? 'FALSE' : 'TRUE';\n    }\n    // If insufficient fields, leave qualified blank (manual review)\n    \n    results.push({\n      json: {\n        audience: audienceName,\n        audience_short: audienceShort,\n        email: email,\n        first_name: firstName,\n        last_name: lastName,\n        job_title: jobTitle,\n        company: company,\n        qualified: qualified,\n        utm_campaign: utmCampaign,\n        utm_source: utmSource,\n        utm_medium: utmMedium,\n        utm_content: utmContent,\n        ad_source: adSource,\n        newsletter_classified: newsletterClassified,\n        fields_filled: fieldsFilled.toString(),\n        all_4_complete: all4Complete,\n        opt_in_date: member.timestamp_opt || '',\n        tags: tags,\n        x_signup: xSignup,\n        message: '',\n        last_checked: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "classify-leads",
      "name": "Classify Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Ed5meyHx1Vt1VTWJ4t2grBj_181rBxY2Jq912UiZJ6Q"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "audience",
              "displayName": "audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "audience_short",
              "displayName": "audience_short",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "qualified",
              "displayName": "qualified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ad_source",
              "displayName": "ad_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "newsletter_classified",
              "displayName": "newsletter_classified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "fields_filled",
              "displayName": "fields_filled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "all_4_complete",
              "displayName": "all_4_complete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "opt_in_date",
              "displayName": "opt_in_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "x_signup",
              "displayName": "x_signup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "last_checked",
              "displayName": "last_checked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "google-sheets-append",
      "name": "Google Sheets (Append)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate stats across all processed items from the loop\nconst allItems = $('Classify Leads').all();\n\nlet totalProcessed = allItems.length;\nlet cwCount = 0, iwCount = 0, dhwCount = 0;\nlet cwQualified = 0, iwQualified = 0, dhwQualified = 0;\nlet tfmCount = 0;\nlet totalQualified = 0;\n\nfor (const item of allItems) {\n  const d = item.json;\n  const short = d.audience_short;\n  \n  if (short === 'CW') {\n    cwCount++;\n    if (d.qualified === 'TRUE') cwQualified++;\n  } else if (short === 'IW') {\n    iwCount++;\n    if (d.qualified === 'TRUE') iwQualified++;\n  } else if (short === 'DHW') {\n    dhwCount++;\n    if (d.qualified === 'TRUE') dhwQualified++;\n  }\n  \n  if (d.ad_source === 'TFM') tfmCount++;\n  if (d.qualified === 'TRUE') totalQualified++;\n}\n\nconst qualifiedRate = totalProcessed > 0 \n  ? Math.round((totalQualified / totalProcessed) * 100) \n  : 0;\n\nreturn [{\n  json: {\n    totalProcessed,\n    cwCount,\n    cwQualified,\n    iwCount,\n    iwQualified,\n    dhwCount,\n    dhwQualified,\n    tfmCount,\n    totalQualified,\n    qualifiedRate\n  }\n}];"
      },
      "id": "aggregate-stats",
      "name": "Aggregate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0A42KZ2LQJ"
        },
        "text": "=:mailchimp: *Insight Links Mailchimp Update* ({{ $now.format('MMMM d, yyyy') }})\n\nNew subscribers processed: {{ $json.totalProcessed }}\n• CW: {{ $json.cwCount }} ({{ $json.cwQualified }} qualified)\n• IW: {{ $json.iwCount }} ({{ $json.iwQualified }} qualified)\n• DHW: {{ $json.dhwCount }} ({{ $json.dhwQualified }} qualified)\n\nTFM-attributed: {{ $json.tfmCount }}\nQualified rate: {{ $json.qualifiedRate }}%\n\n:bar_chart: Full data: https://docs.google.com/spreadsheets/d/1Ed5meyHx1Vt1VTWJ4t2grBj_181rBxY2Jq912UiZJ6Q/edit",
        "otherOptions": {}
      },
      "id": "slack-notification",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "",
          "name": "Slack OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Split Into Audiences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Audiences": {
      "main": [
        [
          {
            "node": "HTTP Request (Mailchimp API)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Mailchimp API)": {
      "main": [
        [
          {
            "node": "Classify Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Leads": {
      "main": [
        [
          {
            "node": "Google Sheets (Append)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Append)": {
      "main": [
        [
          {
            "node": "Split Into Audiences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stats": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York"
  },
  "staticData": null,
  "tags": [
    {
      "name": "insight-links"
    },
    {
      "name": "mailchimp"
    },
    {
      "name": "qualified-leads"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-22T00:00:00.000Z",
  "versionId": "1",
  "active": false
}